@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

/* Reset default margins and paddings */
body,
html {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

/* Ensure the body takes up the full height of the viewport */
body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 100% of the viewport height */
  width: 100vw; /* 100% of the viewport width */
  overflow: hidden; /* Prevent scrolling */
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #000000;
}

/* LAYOUT */
header {
  position: relative;
  height: 10%;
  align-items: center;
  text-align: center;
}

main {
  height: 80vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

/* Each zone style */
.zone {
  width: 100%;
}

/* Zone specific heights */

.messagezone {
  height: 15%; /* 25% of the screen height */
  background-color: #000000; /* Example background color */
  font-size: 0.7rem;
  align-items: center;
}

.fightzone {
  height: 70%; /* 50% of the screen height */
  background-color: #000000; /* Example background color */
  font-size: 0.7rem;
  align-items: center;
}

.infozone {
  height: 15%; /* 15% of the screen height */
  background-color: #000000; /* Example background color */
  font-size: 0.7rem;
  align-items: center;
}

/* Pop-up styling */
.popup {
  display: none; /* Hidden by default */
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Center the pop-up */
  width: 80%;
  max-width: 300px;
  background-color: rgb(141, 16, 16);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.popup-content {
  position: relative;
}

/* Button styling */
#popupBtn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}
